In [1]:
import pandas as pd
import os

In [2]:
dir = './Hangzhou-mobility-data-set'
archivos_csv = [archivo for archivo in os.listdir(dir) if archivo.startswith('record') and archivo.endswith('.csv')]
dataframes = [pd.read_csv(os.path.join(dir, archivo)) for archivo in archivos_csv]
data = pd.concat(dataframes, ignore_index=True)

In [3]:
data.head()

,time,lineID,stationID,deviceID,status,userID,payType
0,2019-01-01 02:00:05,B,27,1354,0,D13f76f42c9a677c4add94d9e480fb5c5,3
1,2019-01-01 02:01:40,B,5,200,1,D9a337d37d9512184b8e3fd477934b293,3
2,2019-01-01 02:01:53,B,5,247,0,Dc9e179298617f40b782490c1f3e2346c,3
3,2019-01-01 02:02:38,B,5,235,0,D9a337d37d9512184b8e3fd477934b293,3
4,2019-01-01 02:03:42,B,23,1198,0,Dd1cde61886c23fdb7ef1fdb76c9b1234,3

In [4]:
data

,time,lineID,stationID,deviceID,status,userID,payType
0,2019-01-01 02:00:05,B,27,1354,0,D13f76f42c9a677c4add94d9e480fb5c5,3
1,2019-01-01 02:01:40,B,5,200,1,D9a337d37d9512184b8e3fd477934b293,3
2,2019-01-01 02:01:53,B,5,247,0,Dc9e179298617f40b782490c1f3e2346c,3
3,2019-01-01 02:02:38,B,5,235,0,D9a337d37d9512184b8e3fd477934b293,3
4,2019-01-01 02:03:42,B,23,1198,0,Dd1cde61886c23fdb7ef1fdb76c9b1234,3
...,...,...,...,...,...,...,...
58637232,2019-01-25 23:59:50,B,25,1270,0,C6b29c306dbc433f41950282ac723bd69,2
58637233,2019-01-25 23:59:51,C,59,2782,0,B6d0780ed4b6a38441c675a0d3dbfabf3,1
58637234,2019-01-25 23:59:51,B,25,1267,0,A1e34c36ef8ad13266b53b288162d49aa,0
58637235,2019-01-25 23:59:52,C,63,2934,0,Bcf799101b0151ffe0e65c7c7f3844b9e,1
58637236,2019-01-25 23:59:53,B,25,1278,0,C682e53e890702126c7fce540cb1aa120,2

In [5]:
data.tail

<bound method NDFrame.tail of                          time lineID  stationID  deviceID  status  \
0         2019-01-01 02:00:05      B         27      1354       0
1         2019-01-01 02:01:40      B          5       200       1
2         2019-01-01 02:01:53      B          5       247       0
3         2019-01-01 02:02:38      B          5       235       0
4         2019-01-01 02:03:42      B         23      1198       0
...                       ...    ...        ...       ...     ...
58637232  2019-01-25 23:59:50      B         25      1270       0
58637233  2019-01-25 23:59:51      C         59      2782       0
58637234  2019-01-25 23:59:51      B         25      1267       0
58637235  2019-01-25 23:59:52      C         63      2934       0
58637236  2019-01-25 23:59:53      B         25      1278       0

                                     userID  payType
0         D13f76f42c9a677c4add94d9e480fb5c5        3
1         D9a337d37d9512184b8e3fd477934b293        3
2         Dc9e179298617f40b782490c1f3e2346c        3
3         D9a337d37d9512184b8e3fd477934b293        3
4         Dd1cde61886c23fdb7ef1fdb76c9b1234        3
...                                     ...      ...
58637232  C6b29c306dbc433f41950282ac723bd69        2
58637233  B6d0780ed4b6a38441c675a0d3dbfabf3        1
58637234  A1e34c36ef8ad13266b53b288162d49aa        0
58637235  Bcf799101b0151ffe0e65c7c7f3844b9e        1
58637236  C682e53e890702126c7fce540cb1aa120        2

[58637237 rows x 7 columns]>